*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/Lato-Regular.ttf') format('ttf'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
}

body{
    font-family: 'lato-regular', sans-serif;
    font-size: 1.4rem;
    line-height: 1.2;
    color: #000000;
}

button:focus, 
input:focus,
textarea:focus{
    outline: none;
}

input[type="text"]:disabled{
    cursor: no-drop;
}

.main-layout{
    min-height: 100vh;
    display: flex;
}

.sidebar-wrp{
    height: auto;
    max-height: 100vh;
    overflow-y: auto;
    flex-shrink: 0;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px #e5e5e5;
}
.sidebar-wrp .mainMenu-list img{
    filter: brightness(0) saturate(100%) invert(74%) sepia(41%) saturate(4%) hue-rotate(123deg) brightness(91%) contrast(84%);
}

.sidebar-mainMenu{
    border-right: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.logo-wrp{
    display: block;
    cursor: pointer;
}

.logo-wrp .logo{
    width: 36px;
    height: 36px;
}

.sidebar-wrp ul{
    list-style: none;
    padding: 0;
}
.sidebar-wrp ul li{
    padding: 0;
    cursor: pointer;
}

/* Main menu style start */
.sidebar-wrp .mainMenu-list{
    padding: 10px 10px;
}

.sidebar-wrp .mainMenu-listItem{
    margin-bottom: 5px;
}

.sidebar-wrp .mainMenu-listItem,
.sidebar-wrp .sidebar-profileMenu-item{
    padding: 10px 10px;
    text-align: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.sidebar-wrp .mainMenu-listItem.sidebar-profileMenu-item{
    margin-bottom: 0;
}

.sidebar-wrp .mainMenu-listItem:hover,
.sidebar-wrp .mainMenu-listItem.active,
.sidebar-subMenu-listItem:hover{
    background-color: #FFFFFF;
    box-shadow: 0 0px 10px #d2d2d2;
}

.sidebar-wrp .mainMenu-listItem.sidebar-profileMenu-item:hover,
.sidebar-wrp .mainMenu-listItem.sidebar-profileMenu-item.active{
    background-color: none;
    box-shadow: none;
}

.mainMenu-listItem-icon,
.sidebar-profileMenu-item img{
    width: 20px;
    height: 20px;
}
.sidebar-wrp .mainMenu-listItem:hover .mainMenu-listItem-icon,
.sidebar-wrp .mainMenu-listItem.active .mainMenu-listItem-icon{
    filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(17%) hue-rotate(69deg) brightness(100%) contrast(100%);
}
/* Main menu style end */

/* Profile menu style start */
.sidebar-profileMenu{
    padding: 10px 10px;
    margin-top: auto;
}
.sidebar-wrp .sidebar-profileMenu-item:hover img,
.sidebar-wrp .sidebar-profileMenu-item.active img{
    opacity: 0.8;
}
.sidebar-profileMenu-item img{
    filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(17%) hue-rotate(69deg) brightness(100%) contrast(100%);
    transition: all 0.3s;
}
/* Profile menu style end */

/* Sidebar submenu style start */
.sidebar-subMenu{
    padding: 0 0 20px 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 65px;
    transition: all 0.3s linear;
}
.sidebar-subMenu.open{
    width: 250px;
}

.sidebar-subMenu-stickyContent{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #FFFFFF;
    padding: 20px 15px 0 15px;
}

.sidebar-subMenu-titleWrp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
    padding: 5px 0 8px 0;
}
.sidebar-subMenu.open .sidebar-subMenu-titleWrp{
    justify-content: space-between;
}

.sidebar-subMenu-title{
    font-size: 1.6rem;
    text-transform: capitalize;
    color: #000000;
    display: none;
    transition: all 0.3s linear;
}

.sidebar-subMenu.open .sidebar-subMenu-title{
    display: block;
}

.openSubmenu{
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}
.sidebar-subMenu.open .openSubmenu img{
    transform: rotate(180deg);
}
.openSubmenu:hover{
    background-color: #FFFFFF;
    box-shadow: 0 0px 10px #d2d2d2;
}
.openSubmenu img{
    width: 10px;
    height: 10px;
    filter: brightness(0) saturate(100%) invert(29%) sepia(14%) saturate(6%) hue-rotate(31deg) brightness(105%) contrast(93%);
    transition: all 0.3s linear;
}
.openSubmenu:hover img{
    filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(17%) hue-rotate(69deg) brightness(100%) contrast(100%);
}

.searchbar-box-wrp{
    margin-top: 14px;
}

.sidebar-subMenu .searchbar-box{
    min-width: 35px;
    width: 35px;
    padding: 8px;
    background-image: url('../img/icons/search.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 10px 50%;
    border: 1px solid #dedede;
    border-radius: 8px;
    font-size: 1.3rem;
    line-height: 1;
}
.sidebar-subMenu .searchbar-box::placeholder{
    color: transparent;
}
.sidebar-subMenu.open .searchbar-box{
    padding: 8px 5px 8px 35px;
    min-width: 100px;
    width: 100%;
}
.sidebar-subMenu.open .searchbar-box::placeholder{
    color: #c4c4c4;
}

.sidebar-subMenu-listWrp{
    margin-top: 15px;
    padding: 0 15px;
    display: none;
}
.sidebar-subMenu-listWrp.active{
    display: block;
}

.sidebar-subMenu-listTitle{
    font-size: 1.4rem;
    line-height: 1.2;
    color: #6c6c6c;
    font-weight: 500;
    padding: 0 8px;
    margin-bottom: 5px;
    transition: all 0.3s;
    display: none;
}
.sidebar-subMenu.open .sidebar-subMenu-listTitle{
    display: block;
}

.sidebar-subMenu.open .sidebar-subMenu-list{
    margin-top: 10px;
}
.sidebar-subMenu-list li{
    margin-bottom: 4px;
}
.sidebar-wrp .sidebar-subMenu-listItem{
    padding: 6px 8px 6px 8px;
    font-size: 1.5rem;
    line-height: 1.2;
    word-break: break-all;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    position: relative;
    border-radius: 8px;
    min-width: fit-content;
    max-width: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s;
}
.sidebar-wrp .sidebar-subMenu.open .sidebar-subMenu-listItem{
    padding: 6px 20px 6px 8px;
    min-width: 220px;
    max-width: 220px;
}

.sidebar-subMenu-listItemName{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: none;
    transition: all 0.3s linear;
}

.sidebar-subMenu.open .sidebar-subMenu-listItemName{
    display: block;
}

.sidebar-subMenu-listItem img{
    width: 18px;
    height: 18px;
    filter: brightness(0) saturate(100%) invert(0%) sepia(4%) saturate(17%) hue-rotate(69deg) brightness(100%) contrast(100%);
}

.dropdown-btn{
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    display: none;
}
.sidebar-subMenu.open .dropdown-btn{
    display: block;
}

.sidebar-subMenu-listItem .dropdown-btn-icon{
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
    transition: all 0.3s;
}

.sidebar-subMenu-listItem.active .dropdown-btn-icon{
    transform: rotate(270deg);
}

.sidebar-wrp .sidebar-subMenu-Sublist{
    padding: 0 0 0 36px;
    margin-bottom: 10px;
    display: none;
}

.sidebar-subMenu-SublistItem{
    margin-top: 10px;
    font-weight: 500;
    color: #373737;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar-subMenu-SublistItem:first-child {
    margin-top: 5px;
}
.sidebar-subMenu-SublistItem a{
    color: #373737;
    text-decoration: none;
    transition: all 0.3s;
    max-width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
}
.sidebar-subMenu-SublistItem a:hover{
    opacity: 0.8;
}

/* Sidebar submenu style end */
.right-content{
  flex: 1;
  padding: 0;
}

header{
    width: 100%;
    min-height: 50px;
    background-color: #1070CA;
    padding: 15px;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    left: 0;
}

.main-content{
    padding: 25px 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.theme-switch input:checked + .slider {
  background-color: #4cafef;
}

.theme-switch input:checked + .slider:before {
  transform: translateX(24px);
}

/* This is for dark theme */
body.dark,
body.dark .right-content,
body.dark header{
    background-color: #383838;
}

body.dark header{
    border-bottom: 1px solid #fcfcfc;
}
body.dark .right-content,
body.dark header{
    color: #FFFFFF;
}

body.dark .sidebar-wrp,
body.dark .sidebar-subMenu-stickyContent,
body.dark .sidebar-subMenu{
    background-color: #000000;
    color: #FFFFFF;

}

body.dark .sidebar-wrp .mainMenu-list .mainMenu-listItem-icon,
body.dark .sidebar-profileMenu-item img{
    filter: brightness(0) saturate(100%) invert(74%) sepia(41%) saturate(4%) hue-rotate(123deg) brightness(91%) contrast(84%);
}
body.dark .sidebar-wrp .mainMenu-listItem:hover .mainMenu-listItem-icon{
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
}

body.dark .mainMenu-listItem:hover,
body.dark .mainMenu-listItem.active,
body.dark .sidebar-profileMenu-item:hover,
body.dark .sidebar-profileMenu-item.active,
body.dark .openSubmenu:hover,
body.dark .sidebar-subMenu-listItem:hover{
    background-color: #515050;
}
body.dark .mainMenu-listItem:hover .mainMenu-listItem-icon,
body.dark .mainMenu-listItem.active .mainMenu-listItem-icon,
body.dark .sidebar-profileMenu-item:hover img,
body.dark .sidebar-profileMenu-item.active img,
body.dark .sidebar-subMenu-listItem img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
}

body.dark .sidebar-wrp .mainMenu-listItem:hover, 
body.dark .sidebar-wrp .mainMenu-listItem.active, 
body.dark .sidebar-subMenu-listItem:hover,
body.dark .openSubmenu:hover{
    box-shadow: none;
}

body.dark .sidebar-subMenu{
    color: #FFFFFF;
}

body.dark .openSubmenu img{
    filter: brightness(0) saturate(100%) invert(58%) sepia(0%) saturate(1849%) hue-rotate(188deg) brightness(87%) contrast(88%);
}

body.dark .searchbar-box{
    border: 1px solid #858585;
    background-color: #000000;
    color: #FFFFFF;
}

body.dark .sidebar-subMenu-title{
    color: #FFFFFF;
}

body.dark .sidebar-subMenu-listTitle{
    color: #858585;
}

body.dark .sidebar-subMenu-SublistItem,
body.dark .sidebar-subMenu-SublistItem a{
    color: #c7c7c7;
}

@media screen and (max-width:767px) {
    .sidebar-wrp{
        box-shadow: none;
    }
    .sidebar-subMenu{
        position: absolute;
        top: 0;
        left: 61px;
        height: 100%;
        z-index: 1;
        border-right: 1px solid #dedede;
    }
    .sidebar-subMenu.open {
        width: calc(100% - 70px);
    }

    .sidebar-wrp .sidebar-subMenu.open .sidebar-subMenu-listItem{
        min-width: 100%;
        max-width: 100%;
    }

    .right-content{
        width: calc(100% - 124px);
        flex: unset;
        margin-left: 62px;
    }
}